<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="List restaurant and Favorite food from Eatery by Sofyan Egi Lesmana" />
    <link rel="icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Eatery</title>
  </head>
  <body>
    <a href="#main__content" class="skip__link" tabindex="0">Skip to content</a>
    <header>
      <navbar-section></navbar-section>
    </header>

    <main id="main__content" tabindex="0"></main>

    <footer>
      <footer-section tabindex="0"></footer-section>
    </footer>
  </body>
</html>
