.nav {
  width: 100%;
  height: 80px;
  z-index: 99;
  top: 0;

  .nav__container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(29, 29, 29, 0.45);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(29, 29, 29, 0.3);

    .nav__logo {
      font-style: italic;
      font-weight: bold;
      font-size: 28px;
      padding: 10px;
      margin-left: 50px;
      color: white;
      text-decoration: none;
    }

    .nav__button {
      display: none;
      color: white;
      font-size: 32px;
      font-weight: bold;
      margin-right: 30px;
      padding: 5px 10px;
      text-decoration: none;
      background-color: transparent;
      border: none;
    }
    .nav__link {
      display: flex;
      gap: 0 30px;
      margin-right: 50px;

      .nav__item {
        list-style: none;

        a {
          font-weight: medium;
          font-size: 18px;
          text-decoration: none;
          color: white;
          // padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .nav__scroll {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .open {
    transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
  }

  .nav {
    position: fixed;
    transition: 0.9s all;
    .nav__container {
      width: 100%;
      border-radius: 0;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border: 1px solid rgba(29, 29, 29, 0.3);

      .nav__logo {
        font-size: 24px;
        margin-left: 30px;
      }

      .nav__button {
        display: block;
      }

      .nav__link {
        top: 70px;
        width: 100%;
        display: grid;
        position: fixed;
        -webkit-transform: translate(0, -180%);
        transform: translate(0, -180%);
        transition: transform 0.3s ease;
        background-color: rgba(255, 255, 255, 1);

        .nav__item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);

          a {
            display: block;
            width: 100%;
            color: black;
            font-size: 16px;
            padding: 10px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .nav {
    position: absolute;
  }
}
