.like {
  font-size: 18px;
  background-color: orange;
  color: white;
  border: 0;
  border-radius: 15px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
